<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssm.inter.BookMapper">
	
	<!-- 添加图书 -->
	<insert id="addBook">
		insert into book 
		(book_name,book_isbn,book_price,book_press,publish_date,print_date,book_version,book_author,book_image_path,book_msg)
		values (#{name},#{isbn},#{price},#{press},#{publishDate},#{printDate},#{version},#{author},#{image},#{msg})	
	</insert>
	
	<!-- 关键字搜索 -->
	<select id="getBooksByPointMsg" resultType="map">
		select book.book_id bookId,book.book_name bookName from book,author,press where 
		author.author_id = book.book_author and
		press.press_id   = book.book_press and
		(
		book_name like #{msg} or 
		book_isbn like #{msg} or
		author.author_name like #{msg}
		)
	</select>
	
	<select id="getBookCount" resultType="_int" parameterType="_int">
		select count(book.book_id) from book
		<if test="id != null">
			,user_book where user_book.user_id = #{id} and book.book_id = user_book.book_id
		</if>
	</select>
	
	<!-- 获取全部书 -->
	<select id="getAllBooks" resultMap="book_">
		select * from author,press,book
		<if test="id != null">
			left join user_book on 
			book.book_id = user_book.book_id 
			where user_book.user_id = #{id} and
		</if>
		<if test="id == null">
			where
		</if>
		author.author_id = book.book_author and
		press.press_id   = book.book_press
		limit #{pageNum} , #{rowCount}
	</select>
    
	<select id="getBookById" resultMap="book_">
		SELECT * FROM book ,press ,author WHERE book_id = #{id} 
        AND book_id = press_id AND book_id = author_id
	</select>
	
	<resultMap type="com.example.ssm.entities.Book" id="book_">
        <id column="book_id" property="id"/>
        <result column="book_name" property="name"/>
        <result column="book_price" property="price"/>
        <result column="book_isbn" property="isbn"/>
        <result column="book_version" property="version"/>
        <result column="publish_date" property="publishDate"/>
        <result column="print_date" property="printDate"/>
        <result column="book_msg" property="msg"/>
        <result column="book_image_path" property="image"/>
        <result column="press_id" property="press.id"/>
        <result column="press_name" property="press.name"/>
        <result column="press_msg" property="press.msg"/>
        <association property="author" javaType="com.example.ssm.entities.Author">
            <id column="author_id" property="id"/>
            <result column="author_name" property="name"/>
            <result column="author_msg" property="msg"/>
            <association property="nation" 
                select="com.example.ssm.dao.NationMapper.getNationById"
                column="nation_id">
            </association>
        </association>
      </resultMap>
</mapper>