<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssm.inter.PressMapper">
    <cache type="com.example.ssm.cache.RedisCache"></cache>
	<!-- 关键字搜索 -->
	<select id="getPressesByPointMsg" resultType="map">
		select press_id id ,press_name name from press where press_name like #{msg}
	</select>
	
</mapper>