/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
	padding-top: 3.5rem;
}

h1 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
	border-right: 1px solid #eee;
}

.sidebar {
	padding-left: 0;
	padding-right: 0;
}

.sidebar .nav {
	margin-bottom: 20px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item+.nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
}

.placeholders {
	padding-bottom: 3rem;
}

.placeholder img {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.redback {
	background: #CC0000
}

.navtext {
	font-size: 22px
}

.myself_main {
	margin-top: 5px;
	margin-left: 17.7%; 
}

.list_li {
	margin-top: 20px
}

.record_text {
	font-weight: normal;
	color: #333;
	vertical-align: middle;
}

.emm_text {
	opacity: 0.5;
	filter: alpha(opacity = 50);
	display: inline-block;
	border-radius: 50%;
	background: #b8b8b8;
	width: 25px;
	height: 25px;
	font-size: 16px;
	color: black;
	text-align: center;
	line-height: 25px;
	margin-right: 5px;
	vertical-align: middle;
}